.login-panel {
    height:100vh; 
    opacity:0.7; 
    background-image:url("https://assets.nflxext.com/ffe/siteui/vlv3/ac824598-245b-4828-b14f-5cff9074f4d0/ece63afe-17d5-438a-a489-215bfaac926e/PE-en-20220822-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}

.form-login {
    color: white;
    background-color: black;
    opacity: 1;
    padding: 5em 1em;
    margin-top: 5em;
    font-size: 1.2em;
}