<div class="container-fluid">
  <div class="login-panel">
    <div class="row">
      <div class="col-4 offset-4 form-login">
        <h2>NETFLIX CLONE</h2>
        <form (submit)="login(user)">
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" [(ngModel)]="user.username" name="user.username" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" [(ngModel)]="user.password" name="user.username" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-danger">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>